
.header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
} 
.navbar{
  width: 100%;
  background-color: #F6F1E9;
}

.container .navbar-brand{
  font-size: 26px;
  padding: 0;
  color: #4F200D;
  margin-right: 40px;
  font-weight: bold;
}
.navbar-expand{
  justify-content: space-around;
}
.cartNav img{
  width: 30px;
  filter: contrast(0.6);

}
.cartNav{
  display: flex;
  align-items: center;
  margin-right: 40px;
  gap:10px;
}
.cartNav h2{
  margin: 0;
  font-size: 22px;
  color: #4F200D;
}
.conainer{
  margin:0;
}
nav{
  display: flex;
  align-items: center;
}
.navbar-expand .navbar-nav .nav-link{
  color: #4F200D;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}
nav ul{
  display: flex;
  list-style-type: none;
}
nav ul li{
  list-style-type: none;
  padding: 0 10px;
}

/* greeting */
.greeting{
  padding: 20px;
}

/* css del añadir al carrito */
.sumar-carrito{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sumarYRemover{
  display: flex;
  height: 35px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 50px;
}
.sumarYRemover button{
  display: flex;
  background-color: transparent;
  border: none;
  padding: 10px;

}
.sumarYRemover button img{
  width: 14px;
}

.sumarYRemover p{
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #4F200D;
}
.btn-carrito{
  display: flex;
  padding: 12px 15px;
  justify-content: center;
  border-radius: 50px;
  background-color: #ff8400;
  border: none;
}
.btn-carrito p{
  margin: 0;
  font-size: 14px;
  color: #F6F1E9;
  font-weight: 600;
  letter-spacing: 1px;
  
}

/* CSS de las CARD */
.container-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.contenedor-card {
  width: 23%;
  display: flex;
  flex-direction: column;
  height: 380px; 
  background-color: #F6F1E9;
  border: 1px solid #F6F1E9;
  border-radius: 10px;
  overflow: hidden;
}
.contenedor-card h2{
  padding: 10px ;
  font-size: 18px;
  height: 100px;
 
}

.cuerpo-card{
  background-color: #F6F1E9;
  
}

.img-card{
  width: 100%;
  height: 200px;
    object-fit: cover;
} 
.boton-contenedor{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  text-decoration: none;
  width: 100%;
  padding: 10px;
}


.card-button {
  display: flex;
  background-color: #ff8400;
  border: none;
  color: #F6F1E9;
  padding: 5px 20px;
  border-radius: 5px;
  
}

/* CSS ItemDetail */
.contenedor-detalle-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.img-detalle-item{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.detalles-item{ 
  display: flex;
  width: 100%;
  height: min-content;
  padding: 20px;
  flex-direction: column;
  background-color: #F6F1E9;
  border-radius: 10px;
}

.detalles-item h1{
  font-size: 28px;
  color: #4F200D;
}
.detalle-item-p{
  font-size: 18px;
  color: #4F200D;
}

/* Css del CARRITO */

.contenedor-detalle-compra, .formulario-detalle-compra{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contenedor-detalle-compra{
  margin: 20px;
  border-radius: 20px;
  background-color: #F6F1E9;
  gap: 10px;
}

.nombre-detalle-compra, .articulos-detalle-compra, .total-detalle-compra{
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.nombre-detalle-compra, .articulos-detalle-compra{
  justify-content: space-evenly;
  list-style-type: none;
}



.nombre-detalle-compra{
  font-weight: bold;
  color: #4F200D;
}

.nombre-compra{
  width: 20%;
  text-overflow: clip;
}
.nombre-precio, .nombre-cantidad{
  width: 10%;

}


.total-detalle-compra{
  justify-content: flex-end;
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.formulario-detalle-compra{
  padding: 20px;
}
.boton-cart{
background-color: #ff8400;
  border: none;
  color: #F6F1E9;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid red;
}